<!doctype HTML>
<html>
<head>
    <title>Icons Preview</title>
    <style>

    * {
        box-sizing: border-box;
    }

    body {
        padding: 0 10px;
        background: #d3d3d3;
    }

    pre,
    code {
        margin: 0;
        white-space: inherit;
    }

    pre {
        padding: 0 0 15px 0;
    }

    code {
        padding: 2px 5px;
        color: #2d4f73;
        font-family: menlo, monospace;
        font-size: 0.8em;
        background: #aabccf;
    }

    .icon-preview__headline {
        padding: 20px 0 20px 25px;
        margin: 0;
        font-family: sans-serif;
    }

    .item-list {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
        -webkit-flex-wrap: 2;
        -moz-flex-wrap: 2;
        -ms-flex-wrap: 2;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    .item-list__element {
        padding: 0 25px;
        margin: 0 0 25px 0;
        list-style: none;
        border-right: 1px solid #aaa;
    }

    </style>
    <script>
    {{{ loaderText }}}
    grunticon(["//localhost:9000/styles/icons.svg.css", "//localhost:9000/styles/icons.png.css", "//localhost:9000/styles/icons.oldie.css"]);
    </script>
    <noscript><link href="//localhost:9000/styles/icons.oldie.css" rel="stylesheet"></noscript>
</head>
<body>
    <h1 class="icon-preview__headline">SN FE Quickstarter Icon Preview</h1>

    <ul class="item-list">

    {{#each icons}}
        {{#with this}}

            <li class="item-list__element">
                <pre>
                    <code>{{ prefix }}{{ name }}</code>
                </pre>
                <div class="{{ selectorString }}{{ name }}" style="width: {{ width }}px; height: {{ height }}px;" ></div>
            </li>

        {{/with}}
    {{/each}}

    </ul>

</body>
</html>
